@import '../../../styles/variables.scss';
@import '../../../styles/media-queries.scss';

.header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: $header-size;
    background: $primary-lighter;

    background: $primary-darker;
    border-bottom: solid 1px;
    box-sizing: border-box;
    

    .header__content{
        display: flex;
        justify-content: space-between!important;

        .header__content__menu{
            padding: 3px;
            width: 25px;
            cursor: pointer;

            .header__content__menu__line{
                height: 2.5px;
                width: 100%;
                background: white;
                margin-bottom: 4px;
                border-radius: 2px;
                position: relative;
                top: 0;
                transition: all 0.5s;
    
                &:hover{
                    .header__content__menu__line{
                        background: white;
                        box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 100%);
                    }
                }
            }
        
                &.header__content__menu--open {
                    .header__content__menu__line--middle {
                        width: 0px;
                    }
    
                    .header__content__menu__line--first {
                        transform: rotate(-45deg);
                        top: 6.5px;
                        width: 85%;
                    }
    
                    .header__content__menu__line--last {
                        transform: rotate(45deg);
                        top: -6.5px;
                        width: 85%;
                    }
                }
            }


        .header__content__logo{
            cursor: pointer;
            
            @include for-phone{
                padding: 0 !important;
            }

            &.header__content__logo--active-route{
                .header__content__logo__title{
                    &:before{
                        background-color: rgb(133, 133, 133);
                        width: 100%;
                    }
                }
            }

            &:hover{
                .header__content__logo__title{
                    &:before{
                        width: 100%;
                    }
                }
            }

            .header__content__logo__image{
                height: 25px;
                border-radius: 2px;
            }

            .header__content__logo__title{
                line-height: 25px;
                font-size: 16px;
                position: relative;
                color: white;

                &:before{
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: white;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: all .2s;
                }
            }
        }
    }

}


.mobile-menu{
    position: fixed;
    height: calc(100% - #{$header-size});
    top: $header-size;
    width: 100%;
    right: -110%;
    z-index: 1;
    transition: right .5s;

    &.mobile-menu--open{
        right: 0;
        transition: right .2s;
    }

    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: opacity .5s;
    }

    &.mobile-menu--open{
        &::before{
            transition: opacity .2s;
            opacity: 1;
        }

    }

    .mobile-menu__content{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 300px;
        background: $primary-dark-medium;
        box-sizing: border-box;
    }

}