@import '../../../styles/variables.scss';
@import '../../../styles/media-queries.scss';

.header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: $header-size;
    background: gainsboro;
    border-bottom: solid 1px;
    box-sizing: border-box;
    

    .header__logo{
        cursor: pointer;
        
        @include for-phone{
            padding: 0 !important;
        }

        &.header__logo--active-route{
            .header__logo__title{
                .header__logo__title__line{
                    width: 100%;
                }
            }
        }

        &:hover{
            .header__logo__title{
                .header__logo__title__line{
                    width: 100%;
                }
            }
        }

        .header__logo__image{
            height: 25px;
        }

        .header__logo__title{
            line-height: 25px;
            font-size: 18px;
            position: relative;

            .header__logo__title__line{
                width: 0;
                height: 2px;
                background: black;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all .2s;
            }
        }
    }
}
