@import './media-queries.scss';

@mixin generateDisplayModes($size-name) {
    @for $i from 1 through $number-of-columns {
        .d#{$size-name}-none{
            display: none;
        }

        .d#{$size-name}-inline{
            display: inline-block;
            vertical-align: top
        }

        
        .d#{$size-name}-block{
            display: block;
        }

        .p#{$size-name}-0{
            padding: 0 !important;
        }

        .m#{$size-name}-0{
            margin: 0 !important;
        }
    }
}

@include generateDisplayModes('');

@include for-desktop{
    @include generateDisplayModes('-lg');
}


@include for-tablet-landscape{
    @include generateDisplayModes('-md');
}

@include for-tablet-portrait{
    @include generateDisplayModes('-sm');
}

@include for-phone{
    @include generateDisplayModes('-xs');
}