@import './media-queries.scss';

@mixin generateColumns($size-name) {
    @for $i from 1 through $number-of-columns {
        .column{
            grid-column: span 1;
        }

        .column-#{$size-name}-#{$i} {
            grid-column: span $i;
        }
    }
}

@mixin generateDisplayModes($size-name) {
    @for $i from 1 through $number-of-columns {
        .d#{$size-name}-none{
            display: none;
        }

        .d#{$size-name}-inline{
            display: inline-block;
        }
    }
}

// Generate grid system
.grid-container {
    display: grid;
    grid-template-columns: repeat($number-of-columns, 1fr);
    grid-gap: 20px;
    padding: 0 15px;

    &.no-spacing{
        padding: 0;
        grid-gap: 0px;
    }
    
    .grid-auto{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    @for $i from 1 through $number-of-columns {
        .column{
            grid-column: span 1;
        }
        
        .column-#{$i} {
            grid-column: span $i;
        }
    }

    @include for-tablet-landscape{
        @include generateColumns('md');
    }
    
    @include for-tablet-portrait{
        @include generateColumns('sm');
    }
    
    @include for-phone{
        @include generateColumns('xs');
    }
}

@include generateDisplayModes('');

@include for-tablet-landscape{
    @include generateDisplayModes('-md');
}

@include for-tablet-portrait{
    @include generateDisplayModes('-sm');
}

@include for-phone{
    @include generateDisplayModes('-xs');
}