.ranking{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    margin-bottom: 5px;
    border-radius: 100%;
    border: 5px solid;
    font-weight: bold;
    font-size: 18px;
    
    &.gold{
        color: #ffe68f;
        background: #e58d1c;

    }

    &.silver{
        color: #eef1ef;
        background: #babfbf;
    }


    &.bronze{
        color: #ffb67f;
        background: #c1512c;
    }

    &.default{
        border: unset;
        box-shadow: unset;
    }
}