@import '../../../styles/variables.scss';

.mobile-menu{
    position: fixed;
    height: calc(100% - #{$header-size});
    top: $header-size;
    width: 100%;
    right: -110%;
    z-index: 1;
    transition: right .5s;

    &.mobile-menu--open{
        right: 0;
        transition: right .2s;
    }

    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: opacity .5s;
    }

    &.mobile-menu--open{
        &::before{
            transition: opacity .2s;
            opacity: 1;
        }

    }

    .mobile-menu__content{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 300px;
        background: $primary-dark-medium;
        box-sizing: border-box;
    }

}