@import '../../../../../../styles/variables.scss';

.title{
    top: 0px;
    background: $primary-light;
    padding: 5px;
    border-bottom: solid 1px;

    &.title--sticky-mode{
        position: sticky;
        z-index: 1;
    }

    &.title--has-icon{
        display: flex;
        -webkit-box-pack: justify!important;
        -ms-flex-pack: justify!important;
        justify-content: space-between!important;

        .title__icon{
            margin: 6px 13px;
        }
    }
}