<div (click)="goToPlayerDetail(player._id)" class="player" [ngClass]="{'player--detail-mode': detailMode}">
    <div [ngClass]="{'grid-container': detailMode}">
        <div class="grid-container no-spacing mb-1" [ngClass]="{'column-2 column-md-4 column-sm-6': detailMode && !reducedInfo, 'column-4': detailMode && reducedInfo}">
            <app-ranking class="player__app-ranking d-block column-6" [ngClass]="{'column-12': reducedInfo}"
                [ranking]="ranking"></app-ranking>
            <div class="column-6"  *ngIf="!reducedInfo">
                <img class="player__picture" [src]="player.picture" [alt]="player.name">
            </div>
        </div>
        <p class="m-0 mb-1 player__name" [ngClass]="{'column-3 column-md-4 column-sm-6 mt-5': detailMode}" *ngIf="!reducedInfo">{{player.name}}</p>

        <app-team-logo class="d-inline-block my-2 text-center" [ngClass]="{'column-3 column-md-4 column-sm-6 mt-5': detailMode}" [team]="player.team"  *ngIf="!reducedInfo"></app-team-logo>
        <app-time-difference [ngClass]="{'d-inline-block mt-2': detailMode, 'column-4 column-md-12 column-sm-6': detailMode && !reducedInfo, 'column-8': detailMode && reducedInfo}" [bestTime]="bestTime" [playerTime]="playerTimeInSeconds"></app-time-difference>
    </div>
</div>