@import './styles/variables.scss';
@import './styles/grid.scss';
@import './styles/spacing.scss';
@import './styles/display-options.scss';

body{
    margin: 0;
    font-family: monospace;
    position:relative;

    *{
        font-family: monospace;
    }
}

.page-spacing{
    padding: 20px;
}

.resolution-limiter{
    max-width: $desktop-size;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(63, 63, 63);
    border-radius: 2.5px;
}
::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);
}