<app-title [title]="raceTitle" [stickyMode]="true"></app-title>
<div class="grid-container">
    <div *ngFor="let player of players; let i = index" class="column-6 column-xs-12 text-center player">
        <app-ranking class="d-inline mr-2" [smallMode]="true" [ranking]="i+1"></app-ranking>
        <img class="player__picture" [src]="player.picture" [alt]="player.name">
        <span class="d-inline mt-2 player__name">{{player.name}}</span>
        <app-team-logo class="d-inline mt-2" [team]="player.team" [onlyShowIcon]="true"></app-team-logo>

        <app-time-difference class="d-inline player__time-difference" [bestTime]="bestTimeInSeconds"
            [playerTime]="player.races[raceKey].timeInSeconds"></app-time-difference>
        

    </div>
</div>